/* ------------------------------------------------------------------------------ /*
/*  SITE FOOTER
/* ------------------------------------------------------------------------------ */

#site-footer {
	margin-top: 6.4rem;
	padding: 3.2rem 0;
	background-color: var(--ag-site-footer-background-color);
  color: var(--ag-site-footer-text-color);

	@media (min-width: $tablet) {
		margin-top: 8rem;
		padding: 4.8rem 0;
	}
}

.footer-inner {
	align-items: center;
	display: flex;
	font-size: 1.4rem;
	justify-content: space-between;

	@media (min-width: $tablet) {
		font-size: 1.6rem;
	}
}

.has-footer-menu .footer-inner {
	align-items: baseline;
}

.footer-inner a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

.footer-inner a:hover,
.footer-inner a:focus {
	text-decoration: underline;
}

/* Footer Credits ---------------------------- */

.footer-credits {
	align-items: baseline;
	display: flex;
	flex-shrink: 0;
	margin: -.4rem 2.4rem 0 -2.4rem;

	@media (min-width: $tablet) {
		margin: -.8rem 2.4rem 0 -2.4rem;
	}
}

.footer-credits p {
	margin: .4rem 0 0 2.4rem;

	@media (min-width: $tablet) {
		margin: .8rem 0 0 2.4rem;
	}
}

/* STATE: ONLY CREDITS */

.footer-credits:only-child {
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 0;
}

/* Footer Menu ------------------------------- */

.footer-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: -.4rem 0 0 -1.6rem;
	text-align: right;

	@media (min-width: $tablet) {
		margin: -.8rem 0 0 -2.4rem;
	}
}

.footer-menu li {
	margin: .4rem 0 0 1.6rem;

	@media (min-width: $tablet) {
		margin: .8rem 0 0 2.4rem;
	}
}

/* Footer Social ----------------------------- */

#site-footer .social-menu {
	justify-content: flex-end;
	margin: 0 -1.2rem;
}

#site-footer .social-menu a:focus {
	box-shadow: inset 0 0 0 .2rem var(--ag-border-color);	
}