/* ------------------------------------------------------------------------------ /*
/*  PRINT STYLES
/* ------------------------------------------------------------------------------ */
:root {
  /* Colors */
  --ag-background-color: #ffffff;
  --ag-light-background-color: #d5caba;
  --ag-primary-color: #ff00ee;
  --ag-secondary-color: #00eeff;
  --ag-border-color: #896949;
  --ag-accent-color: #62e42b;
  --ag-white-color: #FFFFFF;
  --ag-black-color: #000000;
  /* Alignments */
  --ag-inner-width-thin: 65.2rem;
  --ag-inner-width-small: 76rem;
  --ag-inner-width-medium: 104rem;
  --ag-inner-width-max: 205.2rem;
  /* Spacing */
  --ag-gutter: clamp(4.8rem, calc(11.8vw + 0.392rem), 19.2rem);
  --ag-gap: clamp(2.4rem, calc(5.9vw + 0.196rem), 9.6rem);
  --ag-spacer: clamp(2.4rem, calc(2vw + 1.665rem), 4.8rem);
  --ag-spacer-xxs: clamp(1.2rem, calc(0.3vw + 1.078rem), 1.6rem);
  --ag-spacer-xs: clamp(1.6rem, calc(0.7vw + 1.355rem), 2.4rem);
  --ag-spacer-sm: clamp(2.4rem, calc(0.7vw + 2.155rem), 3.2rem);
  --ag-spacer-md: clamp(2.4rem, calc(3.3vw + 1.176rem), 6.4rem);
  --ag-spacer-lg: clamp(2.4rem, calc(5.9vw + 0.196rem), 9.6rem);
  --ag-spacer-xl: clamp(3.2rem, calc(5.2vw + 1.241rem), 9.6rem);
  --ag-spacer-xxl: clamp(4.8rem, calc(6.5vw + 2.351rem), 12.8rem);
  /* Typography */
  --ag-body-font-size: clamp(1.7rem, calc(0.1vw + 1.669rem), 1.8rem);
  --ag-body-line-height: clamp(2.55rem, calc(0.1vw + 2.504rem), 2.7rem);
  --ag-body-font: "Montserrat", Helvetica, sans-serif;
  --ag-body-font-weight: 400;
  --ag-body-font-weight-bold: 700;
  --ag-body-letter-spacing: 0;
  --ag-body-text-transform: none;
  --ag-heading-font: "Montserrat", Helvetica, sans-serif;
  --ag-heading-font-weight: 700;
  --ag-heading-font-weight-bold: 700;
  --ag-heading-letter-spacing: -0.02em;
  --ag-heading-text-transform: none;
  --ag-h1-font-size: clamp(3.2rem, calc(1.3vw + 2.71rem), 4.8rem);
  --ag-h1-line-height: clamp(3.84rem, calc(1.4vw + 3.326rem), 5.52rem);
  --ag-h2-font-size: clamp(2.8rem, calc(1vw + 2.433rem), 4rem);
  --ag-h2-line-height: clamp(3.5rem, calc(1.1vw + 3.102rem), 4.8rem);
  --ag-h3-font-size: clamp(2.4rem, calc(0.7vw + 2.155rem), 3.2rem);
  --ag-h3-line-height: clamp(3.12rem, calc(0.7vw + 2.851rem), 4rem);
  --ag-h4-font-size: clamp(2.2rem, calc(0.5vw + 2.016rem), 2.8rem);
  --ag-h4-line-height: clamp(2.86rem, calc(0.5vw + 2.664rem), 3.5rem);
  --ag-h5-font-size: clamp(2rem, calc(0.3vw + 1.878rem), 2.4rem);
  --ag-h5-line-height: clamp(2.6rem, calc(0.4vw + 2.441rem), 3.12rem);
  --ag-h6-font-size: clamp(1.8rem, calc(0.2vw + 1.739rem), 2rem);
  --ag-h6-line-height: clamp(2.43rem, calc(0.1vw + 2.378rem), 2.6rem);
  /* Buttons */
  --ag-button-text-color: var(--ag-white-color);
  --ag-button-background-color: var(--ag-accent-color);
  --ag-button-border-color: var(--ag-accent-color);
  --ag-button-border-width: 0.2rem;
  --ag-button-border-radius: 0;
  --ag-button-font-size: 1.3rem;
  --ag-button-line-height: 1.2;
  --ag-button-font-weight: 700;
  --ag-button-padding-y: 1.5rem;
  --ag-button-padding-x: 2.4rem;
  --ag-button-text-transform: uppercase;
  --ag-button-letter-spacing: 0.1em;
  --ag-button-text-color-active: var(--ag-white-color);
  --ag-button-background-color-active: var(--ag-primary-color);
  --ag-button-border-color-active: var(--ag-primary-color);
  --ag-button-outline-border-width: 0.2rem;
  --ag-button-outline-color: var(--ag-accent-color);
  --ag-button-outline-color-active: var(--ag-accent-color);
  --ag-button-outline-text-color-active: var(--ag-white-color);
  --ag-button-outline-background-color-active: var(--ag-accent-color);
  /* Site Header */
  --ag-site-header-background-color: var(--ag-background-color);
  --ag-site-header-text-color: var(--ag-primary-color);
  --ag-site-header-fixed-background-color: var(--ag-black-color);
  --ag-site-header-fixed-text-color: var(--ag-white-color);
  /* Site Footer */
  --ag-site-footer-background-color: var(--ag-black-color);
  --ag-site-footer-text-color: var(--ag-white-color);
  /* Animations */
  --ag-anim-speed: 0.75s;
  --ag-trans-speed: 0.15s;
  --ag-trans-speed-slow: 0.25s;
  --ag-trans-ease: ease;
  /* Admin Bar */
  --ag-admin-bar-height: 0;
}

.admin-bar {
  --ag-admin-bar-height: 4.6rem;
}
@media (min-width: 782px) {
  .admin-bar {
    --ag-admin-bar-height: 3.2rem;
  }
}

*,
*:before,
*:after {
  -webkit-animation: none;
          animation: none;
  -webkit-transition: none;
  transition: none;
  -webkit-animation-delay: 0s !important;
          animation-delay: 0s !important;
  -webkit-animation-duration: 0s !important;
          animation-duration: 0s !important;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
  -webkit-transition-duration: 0s !important;
          transition-duration: 0s !important;
}

html {
  background-image: none !important;
}

body {
  background-color: #fff !important;
  border: none !important;
  font-size: 1.2rem;
  line-height: 1.6;
}

body * {
  font-size: inherit !important;
  line-height: inherit !important;
}

#site-content {
  overflow: hidden;
}

/* ELEMENT BASE */
p {
  orphans: 2;
  widows: 2;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 1em 0;
}

h1, .h1 {
  font-size: 2.2em !important;
}

h2, .h2 {
  font-size: 2em !important;
}

h3, .h3 {
  font-size: 1.8em !important;
}

h4, .h4 {
  font-size: 1.6em !important;
}

h5, .h5 {
  font-size: 1.4em !important;
}

h6, .h6 {
  font-size: 1.2em !important;
}

figure {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

/* HIDE ELEMENTS */
#site-header,
#site-footer,
.skip-link,
.cover-modal,
.header-sticky-adjuster,
.pagination-wrapper,
.post-navigation,
.related-posts {
  display: none !important;
}

/* RESET WIDTHS */
.alignwide,
.alignfull,
:root .section-inner {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
}

/* MODIFY SPACING */
.post-inner,
.entry-footer {
  margin-top: 3.2rem;
}

/* BLOCKS */
.has-background,
.wp-block-file {
  padding: 0 !important;
}

.wp-block-spacer {
  display: none;
}

hr:not(.is-style-dots) {
  background: currentColor !important;
  height: 0.2rem !important;
}

/* ENTRY CONTENT */
.entry-content {
  font-size: inherit;
}

.alignwide,
.alignfull,
.aligncenter {
  margin-bottom: 3.2rem !important;
  margin-top: 3.2rem !important;
  padding: 0 !important;
}

.entry-content > .alignwide,
.entry-content > .alignfull {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 100% !important;
  width: 100% !important;
}

.entry-content > .alignleft,
.entry-content > .wp-block-image > .alignleft {
  margin-left: 0 !important;
}

.entry-content > .alignright,
.entry-content > .wp-block-image > .alignright {
  margin-right: 0 !important;
}