# Application
web/app/*
!web/app/languages
!web/app/mu-plugins
!web/app/plugins
!web/app/themes

# WordPress
web/wp
web/.htaccess

# Files starting with . or ~
.*
~*

# Dependencies
**/node_modules

# Logs
*.log

# Databases
*.sql

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# Local WP
/sql
/public