/* Tables ------------------------------------ */

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: 1.6rem;
	margin: 4rem auto;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
}

caption,
thead,
th,
td,
tfoot {
	border-color: var(--ag-border-color);
}

th,
td,
caption {
	padding: 1.2rem;
}

th,
td {
	border: .1rem solid var(--ag-border-color);
	line-height: 1.4;
	margin: 0;
	overflow: visible;
}

th {
	font-weight: 700;
}

caption {
	background-color: var(--ag-border-color);
	font-weight: 700;
	text-align: center;
}

thead {
	border-bottom: .2rem solid var(--ag-border-color);
	white-space: nowrap;
}

tfoot {
	border-top: .2rem solid var(--ag-border-color);
	font-style: italic;
}