/* Tables ------------------------------------ */

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 1.6rem;
  margin: 4rem auto;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

caption,
thead,
th,
td,
tfoot {
  border-color: var(--ag-border-color);
}

th,
td,
caption {
  padding: 1.2rem;
}

th,
td {
  border: 0.1rem solid var(--ag-border-color);
  line-height: 1.4;
  margin: 0;
  overflow: visible;
}

th {
  font-weight: 700;
}

caption {
  background-color: var(--ag-border-color);
  font-weight: 700;
  text-align: center;
}

thead {
  border-bottom: 0.2rem solid var(--ag-border-color);
  white-space: nowrap;
}

tfoot {
  border-top: 0.2rem solid var(--ag-border-color);
  font-style: italic;
}

table.xdebug-error {
  background: #fff !important;
  color: #000 !important;
}

/// Project snapshot table -----------------------------------------------///
.project-snapshot__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--ag-spacer);
  background-color: var(--ag-dark-purple-xtra-dark);
}

.project-snapshot__table th {
  text-align: left;
  padding-right: 1rem;
  font-weight: 600;
  vertical-align: top;
  white-space: nowrap;
}

.project-snapshot__table td {
  padding-bottom: 0.5rem;
}
