/* Hero ------------------------------ */
body .background-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: calc(80vh - var(--ag-site-header-height));
  padding-top: 2rem;
  padding-bottom: 5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }

  .hero-content {
    .hero-copy {
      display: flex;
      flex-direction: column;
      row-gap: 2em;

      .hero-title {
        font-size: clamp(5.4rem, 5vw, 11.2rem);
        line-height: 1;
        letter-spacing: 2px;
        margin: 0;
      }
      .hero-subtitle {
        font-size: clamp(3.4rem, 2vw, 6rem);
        p {
          line-height: normal;
        }
      }
    }
  }
}

/* Bento grid ------------------------------ */
.bento-grid {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "item01 item02 item02"
    "item01 item03 item03"
    "item04 item05 item06";
  grid-gap: 6rem;
  justify-content: space-between;

  @media (max-width: $laptop) {
    grid-template-columns: 1fr; /* One column for small screens */
    grid-template-areas:
      "item01"
      "item02"
      "item03"
      "item04"
      "item05"
      "item06";
  }
}
.bento-card {
  min-height: 20rem;
  border-radius: var(--ag-border-radius);
  padding: 3rem;
  position: relative;
  display: flex;
  aspect-ratio: auto;
  background: linear-gradient(0deg, rgba(111, 48, 65, 1) 7%, rgba(24, 0, 45, 1) 100%);

  .bento-details {
    .bento-title {
      margin-top: 1rem;
      margin-bottom: 2rem;
      color: var(--ag-white-color);
      text-transform: uppercase;
    }
    .bento-subtitle {
      color: var(--ag-white-color);
      font-size: var(--ag-h5-font-size);
      border-bottom: 1px solid #a76a6a;
      padding-bottom: 2.6rem;
    }
    .bento-link {
      text-decoration: none;
    }
    .btn-container {
      text-align: center;
      margin: 3rem 0;

      @media (min-width: $laptop) {
        text-align: left;
      }
    }
  }
  .bento-image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    color: var(--ag-white-color);

    a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    img {
      border-radius: 1rem;
      max-height: 40rem; /* Mobile default */
      max-width: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
      flex-shrink: 1;
      flex-grow: 1;
      object-position: top;
      animation: fade-in-scale 1s linear 0.5s;

      &:hover {
        transform: scale(1.1);
      }

      @media (min-width: $laptop) {
        max-height: 100%;
      }
    }
  }

  &.grid-item01 {
    // background: var(--ag-orange-color);
    grid-area: item01;
    flex-direction: column;
    position: relative;

    img {
      position: relative; /* Default for mobile (no 'pop out') */
      width: 100%;
      max-width: 100%;

      @media (min-width: $laptop) {
        position: absolute; /* Allows the image to 'pop out' */
        width: 120%; /* Enlarges the image slightly */
        height: auto; /* Maintains aspect ratio */
        max-width: none; /* Prevents scaling issues */
        max-height: 100%;
        margin-top: 2rem;
      }
    }
  }

  &.grid-item02 {
    // background: var(--ag-pink-color);
    grid-area: item02;
    flex-direction: column;

    @media (min-width: $laptop) {
      flex-direction: row;
    }

    .bento-details {
      max-width: none;
      flex: 1;

      @media (min-width: $laptop) {
        margin-right: 3rem;
      }
    }

    .bento-image {
      overflow: visible;
      flex: 1;

      img {
        position: relative;
        width: 100%;
        max-width: 100%;
        inset: inherit; /* Shorthand for top, right, bottom, and left */
        object-fit: contain;

        @media (min-width: $laptop) {
          max-height: 115%;
          width: 120%;
          max-width: 120%;
          position: relative;
          bottom: 10%;
        }
      }

      img:first-child,
      img:last-child {
        transition: transform 0.3s ease-in-out;
      }

      &:hover img:first-child {
        transform: rotate(15deg);
      }
      // &:hover img:last-child {
      //   transform: rotate(-15deg);
      // }
    }
  }

  &.grid-item03 {
    // background: var(--ag-dark-purple-color);
    grid-area: item03;

    img:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }

  &.grid-item04 {
    background: var(--ag-green-color);
    grid-area: item04;

    .bento-image {
      img {
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        img {
          transform: translateY(-30%); // Scroll up the image
        }
      }
    }
  }
  &.grid-item03,
  &.grid-item04 {
    // aspect-ratio: 1/1;
    max-height: none;
    width: auto;
    flex-direction: column;
  }
  &.grid-item05 {
    background: var(--ag-pink-color);
    grid-area: item05;
    flex-direction: column;

    .bento-card-description,
    .bento-link {
      color: var(--ag-white-color);
    }
  }

  &.grid-item06 {
    background: var(--ag-dark-purple-color);
    grid-area: item06;
  }
}

// About ----------------------------------------- //
#about {
  background: var(--ag-dark-purple-xtra-dark);

  img {
    border-radius: var(--ag-border-radius);
    border: 1px solid var(--ag-background-color);
  }
}

// Contact ----------------------------------------- //
#contact {
  background: var(--ag-dark-purple-xtra-dark);

  form {
    margin-top: 0;
  }
}
