/* Hero ------------------------------ */
body .background-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: calc(80vh - var(--ag-site-header-height));
  padding-top: 2rem;
  padding-bottom: 5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }

  .hero-content {
    .hero-copy {
      display: flex;
      flex-direction: column;
      row-gap: 2em;

      .hero-title {
        font-size: clamp(5.4rem, 5vw, 11.2rem);
        line-height: 1;
        letter-spacing: 2px;
        margin: 0;
      }
      .hero-subtitle {
        font-size: clamp(3.4rem, 2vw, 6rem);
        p {
          line-height: normal;
        }
      }
    }
  }
}

/* Bento grid ------------------------------ */
.bento-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "item01 item02 item02"
    "item01 item03 item04"
    "item05 item05 item06";
  grid-gap: 2.4rem;
}
.bento-card {
  min-height: 20rem;
  border-radius: var(--ag-border-radius);
  padding: 1rem;
  position: relative;
  display: flex;

  .bento-card-description {
    .bento-title {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    .bento-link {
      text-decoration: none;
    }
  }
  .bento-card-details {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

    img {
      border-radius: 1rem;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
      flex-shrink: 1; /* Allows the image to shrink to fit the container */
      flex-grow: 1;
      object-position: top;
      animation: fade-in-scale 1s linear 0.5s;
    }
  }

  &.grid-item01 {
    background: var(--ag-dark-purple-color);
    grid-area: item01;
    flex-direction: column;

    .bento-card-details {
      margin-top: 3rem;
      overflow: visible;

      img {
        width: 120%;
        max-width: 120%;
      }
    }

    .bento-card-description,
    .bento-link {
      color: var(--ag-white-color);
    }
  }
  &.grid-item02 {
    background: var(--ag-orange-color);
    grid-area: item02;
    color: var(--ag-white-color);
    flex-direction: row;
    max-height: 40rem;

    .bento-card-description {
      max-width: 20rem;
    }

    .bento-card-description,
    .bento-link {
      color: var(--ag-white-color);
    }

    .bento-card-details {
      overflow: visible;
    }

    img {
      max-height: 115%;
      width: 120%;
      max-width: 120%;
      position: relative;
      left: 10%;
      bottom: 10%;
    }
  }
  &.grid-item03 {
    background: var(--ag-cyan-color);
    grid-area: item03;
  }

  &.grid-item04 {
    background: var(--ag-green-color);
    grid-area: item04;
  }
  &.grid-item03,
  &.grid-item04 {
    max-width: 50rem;
    max-height: 50rem;
    flex-direction: column;

    .bento-card-description,
    .bento-link {
      color: var(--ag-black-color);
    }
  }
  &.grid-item05 {
    background: var(--ag-pink-color);
    grid-area: item05;
    flex-direction: column;

    .bento-card-description,
    .bento-link {
      color: var(--ag-white-color);
    }
  }

  &.grid-item06 {
    background: var(--ag-dark-purple-color);
    grid-area: item06;

    .bento-card-description,
    .bento-link {
      color: var(--ag-white-color);
    }
  }
}

/* Contact ------------------------------ */
.contact-inner {
  display: flex;
  column-gap: var(--ag-spacer-sm);
}
