/* Hero ------------------------------ */
body .background-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: calc(80vh - var(--ag-site-header-height));
  padding-top: 2rem;
  padding-bottom: 5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }

  .hero-content {
    .hero-copy {
      display: flex;
      flex-direction: column;
      row-gap: 2em;

      .hero-title {
        font-size: clamp(5.4rem, 5vw, 11.2rem);
        line-height: 1;
        letter-spacing: 2px;
        margin: 0;
      }
      .hero-subtitle {
        font-size: clamp(3.4rem, 2vw, 6rem);
        p {
          line-height: normal;
        }
      }
    }
  }
}

/* Bento grid ------------------------------ */
.bento-grid {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "item01 item02 item02"
    "item01 item03 item03"
    "item04 item05 item06";
  grid-gap: 2.4rem;
  justify-content: space-between;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr; /* One column for small screens */
    grid-template-areas:
      "item01"
      "item02"
      "item03"
      "item04"
      "item05"
      "item06";
  }
}
.bento-card {
  min-height: 20rem;
  border-radius: var(--ag-border-radius);
  padding: 1rem;
  position: relative;
  display: flex;
  aspect-ratio: auto;

  .bento-card-description {
    .bento-title {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    .bento-link {
      text-decoration: none;
    }
  }
  .bento-card-details {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    img {
      border-radius: 1rem;
      max-height: 40rem; /* Mobile default */
      max-width: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
      flex-shrink: 1;
      flex-grow: 1;
      object-position: top;
      animation: fade-in-scale 1s linear 0.5s;

      &:hover {
        transform: scale(1.1);
      }

      @media (min-width: $tablet) {
        max-height: 100%; /* Tablet-specific rule */
      }
    }
  }

  &.grid-item01 {
    background: var(--ag-dark-purple-color);
    grid-area: item01;
    flex-direction: column;
    position: relative;

    img {
      position: relative; /* Default for mobile (no 'pop out') */
      width: 100%;
      max-width: 100%;

      @media (min-width: $tablet) {
        position: absolute; /* Allows the image to 'pop out' */
        width: 120%; /* Enlarges the image slightly */
        height: auto; /* Maintains aspect ratio */
        max-width: none; /* Prevents scaling issues */
        max-height: 100%;
      }
    }

    .bento-card-description,
    .bento-link {
      color: var(--ag-white-color);
    }
  }

  &.grid-item02 {
    background: var(--ag-pink-color);
    grid-area: item02;
    color: var(--ag-white-color);
    flex-direction: row;

    .bento-card-description {
      max-width: none;
      flex: 1;

      // @media (min-width: $tablet) {
      //   max-width: 25rem;
      // }
    }

    .bento-card-description,
    .bento-link {
      color: var(--ag-white-color);
    }

    .bento-card-details {
      overflow: visible;
      flex: 1;

      img {
        position: relative; /* Default for mobile */
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        inset: inherit; /* Shorthand for top, right, bottom, and left */

        @media (min-width: $tablet) {
          max-height: 115%;
          width: 120%;
          max-width: 120%;
          position: relative;

          &:first-child {
            left: 25%;
            bottom: 18%;
          }
          &:last-child {
            right: 3%;
            bottom: 14%;
          }
        }
      }

      img:first-child,
      img:last-child {
        transition: transform 0.3s ease-in-out;
      }

      &:hover img:first-child {
        transform: rotate(15deg);
      }
      &:hover img:last-child {
        transform: rotate(-15deg);
      }
    }
  }

  &.grid-item03 {
    background: var(--ag-light-grey-color);
    grid-area: item03;

    img:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }

  &.grid-item04 {
    background: var(--ag-green-color);
    grid-area: item04;

    .bento-card-details {
      img {
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        img {
          transform: translateY(-30%); // Scroll up the image
        }
      }
    }
  }
  &.grid-item03,
  &.grid-item04 {
    // aspect-ratio: 1/1;
    max-height: none;
    width: auto;
    flex-direction: column;

    .bento-card-description,
    .bento-link {
      color: var(--ag-black-color);
    }
  }
  &.grid-item05 {
    background: var(--ag-pink-color);
    grid-area: item05;
    flex-direction: column;

    .bento-card-description,
    .bento-link {
      color: var(--ag-white-color);
    }
  }

  &.grid-item06 {
    background: var(--ag-dark-purple-color);
    grid-area: item06;

    .bento-card-description,
    .bento-link {
      color: var(--ag-white-color);
    }
  }
}

/* Contact ------------------------------ */
.contact-inner {
  display: flex;
  column-gap: var(--ag-spacer-sm);
}

/* Define the keyframes for the fade-in and scaling */
@keyframes fadeInPop {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9); /* Slightly smaller */
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* Final position */
  }
}
