/* ------------------------------------------------------------------------------ /*
/*  UTILITIES
/* ------------------------------------------------------------------------------ */

/* Colors ---------------------------------- */

@each $slug, $hex in $colors {
  :root .has-#{$slug}-color { color: var(--ag-#{$slug}-color); }
  :root .has-#{$slug}-background-color { background-color: var(--ag-#{$slug}-color); }
  :root .has-#{$slug}-border-color { border-color: var(--ag-#{$slug}-color); }
}

:root .has-text-color a:not(.wp-block-button__link) { 
  color: inherit; 
}

/* Hiding and Showing ------------------------ */

.js .show-js { display: block !important; }
.js .hide-js { display: none !important; }

.no-js .show-no-js { display: block !important; }
.no-js .hide-no-js { display: none !important; }

/* Typography -------------------------------- */

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Fonts ------------------------------------ */

:root .ff-body { font-family: var(--ag-body-font) !important; }
:root .ff-heading { font-family: var(--ag-heading-font) !important; }

/* Font Sizes -------------------------------- */

:root .has-small-font-size {
	font-size: .882352941em;
}

:root .has-regular-font-size,
:root .has-normal-font-size {
	font-size: 1em;
}

:root .has-large-font-size {
	font-size: 1.17647em;

	@media (min-width: $tablet) {
		font-size: 1.333em;
	}
}

:root .has-larger-font-size {
	font-size: 1.29411em;

	@media (min-width: $tablet) {
		font-size: 1.777em;
	}
}

/* Font Weight ------------------------------------ */

:root .fw-100 { font-weight: 100 !important; }
:root .fw-200 { font-weight: 200 !important; }
:root .fw-300 { font-weight: 300 !important; }
:root .fw-400 { font-weight: 400 !important; }
:root .fw-500 { font-weight: 500 !important; }
:root .fw-600 { font-weight: 600 !important; }
:root .fw-700 { font-weight: 700 !important; }
:root .fw-800 { font-weight: 800 !important; }
:root .fw-900 { font-weight: 900 !important; }


/* Text Alignment --------------------------- */

:root .has-text-align-left { text-align: left !important; }
:root .has-text-align-center { text-align: center !important; }
:root .has-text-align-right { text-align: right !important; }
:root .has-text-align-justify { text-align: justify !important; }